.main-container {
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(11, 22, 44, 0.05);
  z-index: 499;
  padding-left: 64px;
  top: 0;
}

.container {
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  margin-left: -16px;
  min-height: 78px;
}

.left-content {
  width: 100%;
  align-items: center;
  margin-right: 32px;
  display: flex;
  flex: 1;
}

.right-content {
  align-items: center;
  margin-left: auto;
  display: flex;
}

.dropdown-wrapper {
  z-index: 500;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.dropdown-toggle {
  z-index: 500;
  align-items: center;
  vertical-align: top;
  padding: 20px;
  transition: color 0.3s;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.dropdown-toggle:hover {
  color: #1476ff;
}

.logout-icon {
    font-family: Custom Icons, sans-serif;
    color: #ff414c;
  }


  @font-face {
    font-family: "Custom Icons";
    src: url("https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc40ec_dashboardlycustomicons.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  