.wrapper {
    z-index: 504;
    background-color: rgba(11, 14, 44, .5);
    justify-content: center;
    align-items: center;
    padding: 24px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.close-button {
    z-index: 1;
    cursor: pointer;
    transform-style: preserve-3d;
    font-family: Line Rounded Icons, sans-serif;
    font-size: 20px;
    line-height: 1em;
    transition: transform .3s;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
.close-button:hover {
    transform: scale3d(1.25, 1.25, 1.01);
}

.popup {
    background-color: #fff;
    border: 1px solid #e9eaf3;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(25, 93, 194, .07);
    width: 100%;
    max-width: 660px;
    text-align: center;
    border-radius: 30px;
    padding: 58px 48px;
    position: relative;
    overflow: hidden;
  }

  .popup.add-holding-popup {
    width: 100%;
    height: 600px;
    max-width: 480px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 36px;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  @font-face {
    font-family: 'Line Rounded Icons';
    src: url('https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc3f7f_line-rounded-icons.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc3f72_line-rounded-icons.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc3f70_line-rounded-icons.woff') format('woff'), url('https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc3f7e_line-rounded-icons.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/64afbac816bb17eb2fdc3f03/64afbac916bb17eb2fdc3f87_line-rounded-icons.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }